<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<script src="https://kit.fontawesome.com/0ed3f505e9.js" crossorigin="anonymous"></script>
<body>
    <div class="icon-bar">
        <a class="active" href="/"><i class="fas fa-home fa-md"></i></a>
        <a href="/log"><i class="fas fa-book-open"></i></a>
        <a href="/quotes"><i class="fas fa-quote-right"></i></a>
        <a href="/faith"><i class="fas fa-star-and-crescent "></i></a>
        <a href="/videos"><i class="fas fa-video"></i></a>
        <a href="/analysis"><i class="fas fa-chart-line fa-md"></i></a>
        
    </div>
    <p>Hello beautiful!</p>
    <p>This app is for you.<br>
        It is a safe place to work through your thoughts, dreams and aspirations.<br>
        Click each link to discover a few methods that I have used over the years to work through
        difficult times and stay in a positive headspace.<br>  
        I hope they help you as much as they helped me!
    </p>

    <p> By the way, you are not alone on this journey. Millions of other people feel the exact same way you do.
        It is time to believe in yourself, let go of shame, let go of worry and let go of everything holding you
        back from being the best version of yourself!
    </p>
    
    <button onclick="window.location.href = '/log'">Thought Log</button>
    <button onclick="window.location.href = '/videos'">Videos</button>
    <button onclick="window.location.href = '/quotes'">Quotes</button>
    <button onclick="window.location.href = '/faith'">Faith</button>
    <button onclick="window.location.href = '/analysis'">All about you</button>
</body>
</html>