<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<script src="https://kit.fontawesome.com/0ed3f505e9.js" crossorigin="anonymous"></script>
<body>
    <div class="icon-bar">
        <a class="active" href="/"><i class="fas fa-home"></i></a>
        <a href="/log"><i class="fas fa-book-open"></i></a>
        <a href="/quotes"><i class="fas fa-quote-right"></i></a>
        <a href="/faith"><i class="fas fa-star-and-crescent "></i></a>
        <a href="/videos"><i class="fas fa-video"></i></a>
        <a href="/analysis"><i class="fas fa-chart-line fa-md"></i></a>
        
    </div>
    <p>Your entry has been added</p>
</body>
</html>