<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"  content="ie-edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <style>
    body {
      background-color: transparent;
    }

    .jumbotron {
      background: #000000 url("static/images/starwars.gif") no-repeat bottom left;
      background-size: 100% 100%;
      overflow: auto;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<script src="https://kit.fontawesome.com/0ed3f505e9.js" crossorigin="anonymous"></script>
<body>
    <div class="navbar icon-bar">
      <a href="/"><i class="fas fa-sun"></i><br>Motivation</a>
      <a href="/videos"><i class="fas fa-video"></i><br>Videos</a>
      <a class="active"  href="/log"><i class="fas fa-book-open"></i><br>Journal</a>
      <a href="/quotes"><i class="fas fa-quote-right"></i><br>Quotes</a>
      <a href="/analysis"><i class="fas fa-chart-line"></i><br>Analysis</a>
    </div>
    <div class="container" >
      <div class="row">
        <div class="col" id="entryform">
          <form method='POST' action="/analysis" role='form' name='logentry'>
            <label for="entrydate">Entry Date</label><br>
            <br>
            <input type="date" id="entrydate" name="entrydate"><br>
            <br>
            <p>How would you describe your current mood?</p>
            <label for="mood">Choose a car:</label>
            <select id="mood" name="mood">
              <option value="happy">Happy</option>
              <option value="proud">Proud</option>
              <option value="nervous">Nervous</option>
              <option value="anxious">Anxious</option>
              <option value="dissapointed">Dissapointed</option>
              <option value="excited">Excited</option>
              <option value="grateful">Grateful</option>
              <option value="calm">Calm</option>
            </select>
            <br>
            <p>Describe what happened today that made you feel this way?</p>
            <textarea name="message" style="width:90%; height:10%"></textarea><br>
            <p>Identify something you want to work on tomorrow</p>
            <textarea name="message1" style="width:90%; height:10%"></textarea><br>
            <p>Identify something you are grateful for</p>
            <textarea name="message2" style="width:90%; height:10%"></textarea><br>
            <input type="submit" value="Submit">
          </form>
      </div>
    </div>
  </div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  </body>
</html>