<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<script src="https://kit.fontawesome.com/0ed3f505e9.js" crossorigin="anonymous"></script>
<body>
    <div class="icon-bar">
        <a href="/"><i class="fas fa-home fa-md"></i></a>
        <a class="active" href="/log"><i class="fas fa-book-open fa-md"></i></a>
        <a href="/quotes"><i class="fas fa-quote-right fa-md"></i></a>
        <a href="/faith"><i class="fas fa-star-and-crescent fa-md"></i></a>
        <a href="/videos"><i class="fas fa-video fa-md"></i></a>
        <a href="/analysis"><i class="fas fa-chart-line fa-md"></i></a>
        
    </div>

    <form method="POST" action="/entrysubmited">
      <label for="entrydate">Entry Date</label><br>
      <br>
      <input type="date" id="entrydate" name="entrydate"><br>
      <br>
    

    <p>How would you describe your current mood?</p>

    
      <input type="radio" id="sad" name="gender" value="sad">
      <label for="male">Sad</label><br>
      <input type="radio" id="mad" name="gender" value="mad">
      <label for="female">Mad</label><br>
      <input type="radio" id="happy" name="gender" value="happy">
      <label for="other">Happy</label><br>
      <br>
    

    <p>How strongly are you feeling this feeling in this moment?</p>

    
      <label for="quantity">Quantity (between 1 and 10):</label>
      <input type="number" id="quantity" name="quantity" min="1" max="10">

    <p>Describe what happened today that made you feel this way?</p>

    
      <textarea name="message" rows="20" cols="60"></textarea><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>